params {

    in_lr_bam = ''
    in_lr_fq = ''

    in_sr_bam = ''
    in_sr_fq = ''

    out_dir = ''

    max_lr_bq = 40
}

profiles {

	standard {

		process {

			executor = 'local'

            withLabel: small_node {
                cpus = 4
                memory = { 4.GB * task.cpus * task.attempt }
            }

			withLabel: medium_node {
				cpus = 6
				memory = { 4.GB * task.cpus * task.attempt }
			}

			withLabel: large_node {
				cpus = 24
				memory = { 4.GB * task.cpus * task.attempt }
			}
		}
	}

	cluster {

		process {

			executor = 'slurm'

            withLabel: small_node {
                cpus = 16
                memory = { 4.GB * task.cpus * task.attempt }
            }

			withLabel: medium_node {
				cpus = 32
				memory = { 4.GB * task.cpus * task.attempt }
			}

			withLabel: large_node {
				cpus = 64
				memory = { 7.GB * task.cpus * task.attempt }
			}
		}
	}
}

process {

    maxRetries = 2

    withName:chunkLR|extractSR {
        time = { 6.h * task.attempt }
    }

    withName:buildIndex_1|buildIndex_2 {
        time = { 120.h * task.attempt }
    }

    withName:correctChunk_1|correctChunk_2 {
        time = { 24.h * task.attempt }
    }

    withName:mergeCorrectedChunks {
        time = { 3.h * task.attempt }
    }
}

includeConfig 'config/tools.config'
includeConfig 'config/pipeline.config'